[submodule "docs/Style/doxygen-awesome-css"]
	path = docs/Style/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "extras/doxygen-awesome-css"]
	path = extras/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
